* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lexend Deca', sans-serif;
    min-height: 100vh;
    display: grid;
    place-items: center;
    font-size: 15px;
    background-color: rgb(235, 235, 235);
}

 /* THE CONTAINER STYLING  */

.container {
    max-width: 1440px;
    display: flex;
}

/*  THE CARDS STYLYING  */

.card {
    padding: 50px;
}

.card1 {
    background-color: hsl(31, 77%, 52%);
    border-radius: 5px 0 0 5px;
}

.card2 {
    background-color: hsl(184, 100%, 22%);
}

.card3 {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 5px 5px 0;
}

.card h1{
    color: hsl(0, 0%, 95%);
}

.card h1{
    margin-bottom: 25px;
    font-family: 'Big Shoulders Display', cursive;
    font-size: 40px;
}

.card p {
    color: hsla(0, 0%, 100%, 0.75);
    margin-bottom: 90px;
    width: 220px;
    line-height: 25px;
}

.card img {
    margin-bottom: 30px;
}

.card a {
    text-decoration: none;
    background-color: hsl(0, 0%, 95%);
    padding: 15px 25px;
    border-radius: 40px;
    transition: background-color 0.5s;
}

.card1 a {
    color: hsl(31, 77%, 52%);
}

.card2 a {
    color: hsl(184, 100%, 22%);
}

.card3 a {
    color: hsl(179, 100%, 13%);
}

.card1 a:hover {
    border: 2px solid hsl(0, 0%, 95%);
    color: hsl(0, 0%, 95%);
    background-color: hsl(31, 77%, 52%);
    transition: background-color 0.5s;
}

.card2 a:hover {
    border: 2px solid hsl(0, 0%, 95%);
    color: hsl(0, 0%, 95%);
    background-color: hsl(184, 100%, 22%);
    transition: background-color 0.5s;
}

.card3 a:hover {
    border: 2px solid hsl(0, 0%, 95%);
    color: hsl(0, 0%, 95%);
    background-color: hsl(179, 100%, 13%);
    transition: background-color 0.5s;
}

 /* THE RESPONSIVE DESIGN  */

 @media (max-width: 970px) {
     .container {
         flex-direction: column;
         margin: 50px 0;
     }

     .card1 {
         border-radius: 5px 5px 0 0;
     }

     .card3 {
         border-radius: 0 0 5px 5px;
     }

     .card p {
         margin-bottom: 40px;
     }
 }
